# Системні файли Windows / macOS
Thumbs.db
.DS_Store

# Файли налаштувань середовищ розробки
.vscode/
.vs/

# Тимчасові та скомпільовані файли
bin/
obj/

# Конфігураційні файли, що містять чутливу інформацію
appsettings.Development.json

# Локальна база даних 
*.db

# Тимчасові та лог-файли
*.log
*.tmp
*.bak

# Файли залежностей
node_modules/
packages/

# Особисті файли користувача
*.user
*.suo

# Інші конфігурації середовища (наприклад, ключі)
.env
.env.*
